@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600;700&family=Ubuntu:wght@400;500;700&display=swap');

body{
  width: 100vw;
  height: 100%;
  overflow-x: hidden ;
}

header{
  width: 100%;
  height: 600px;
  border-radius: 0 0 0 100px;
  background-image: url("../images/bg-pattern-intro-desktop.svg"), linear-gradient(138deg, #ff8f70,  #ff3d54);
  background-size: 220%, 100%;
  background-position: 26% 52%, 0% 0%;
  background-repeat: no-repeat;
}
div.cabecalho{
  padding: 65px 130px;
}

nav.nav-principal{
  width: 100%;
  height: 60px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 65px;
}


ul.product{
  width: 100%;
  height: 30px;
  margin-top: 25px;
  display: flex;
  justify-content: flex-start;
}

li.li-p{
  display: block;
  width: 100px;
}

li.li-p a.bt1{
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: hsl(0, 0%, 100%); 
  text-decoration: none;
  padding-left: 10px;
}


li.li-p a.bt1:hover{
  text-decoration: underline;
}

li.li-p a.bt1 img.icon {
  padding-left: 10px;
  transition: 0.5s;
}

li.li-p a.bt1 img.icon.reverse{
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

li.li-p .submenu{
  margin-top: 10px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: 0px 0px 80px 10px rgba(0, 0, 0, 0.162);
  transform: translateY(15%);
  opacity: 0;
  pointer-events: none; 
}

li.li-p .submenu.show{
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
  transition: ease 0.5s;
}

li.li-p #ul-product{
  height: 125px;
  width: 100px;
  padding: 15px 8px;
}

li.li-p #ul-company{
  height: 100px;
  width: 100px;
  padding: 15px 8px;
}

li.li-p #ul-connect{
  height: 75px;
  width: 100px;
  padding: 15px 8px;
}

li.li-p a.ul-link {
  font-family: 'Overpass', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #000000; 
  line-height: 25px;
  text-decoration: none;
  padding-left: 10px;
}

li.li-p a.ul-link:hover{
  font-weight: 700;
  transition: ease 0.4s;
} 

nav.nav-principal div.button{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

div.button button.bt-login{
  border: none;
  background-color: transparent;
  margin-right: 30px;
}

div.button button.bt-sing{
  border: none;
  width: 140px;
  height: 50px;
  border-radius: 30px;
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color:  hsl(356, 100%, 66%);
}

div.button button.bt-sing:hover{
  background-color: hsl(355, 100%, 74%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  transition: ease 0.5s;
}

div.button button.bt-login{
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

section.modern{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 60px;
}

section.modern p.p-platform{
  font-family: 'Overpass', sans-serif;
  font-size: 50px;
  font-weight: 600;
  color:hsl(0, 0%, 100%);
}

section.modern p.p-brand{
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color:hsl(240, 2%, 79%);
}

section.modern div.sec-button{
 margin-top: 20px;
}

section.modern button.bt-start{
  border: none;
  width: 140px;
  height: 50px;
  margin: 15px;
  border-radius: 30px;
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color:  hsl(356, 100%, 66%);
}

section.modern button.bt-start:hover{
  background-color: hsl(355, 100%, 74%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  transition: ease 0.5s;
}

section.modern button.bt-more{
  border: none;
  width: 140px;
  height: 50px;
  border-radius: 30px;
  border: 2px solid hsl(0, 0%, 100%);
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  background-color: transparent;
}

section.modern button.bt-more:hover{
  background-color: hsl(0, 0%, 100%) ;
  color:hsl(355, 100%, 74%);
  cursor: pointer;
  transition: ease 0.5s;
}

section.sec-one{
  width: 100%;
  height:900px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/illustration-editor-desktop.svg");
  background-size: 60%, 100%;
  background-position: 145% 60%, 0% 0%;
  background-repeat: no-repeat;
}

div.content{
  margin-top: 50px;
  padding: 65px 145px;

}

div.content h1.h-main{
  font-family: 'Overpass', sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: hsl(208, 49%, 24%);
  text-align: center;
  margin-top: 80px;
}

section.sec-one div.content-one{
  width: 65%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px;
}

div.content-one h1.h-first, div.content-two h1.h-two{
  font-family: 'Overpass', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: hsl(208, 49%, 24%);
  margin: 30px 0;
}

 div.content-one p.p-first, div.content-two p.p-two{
  width: 79%;
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: hsl(207, 13%, 34%);
  line-height: 30px;
  margin-bottom: 60px;
}

section.smartphone{
  width: 100%;
  margin-top: 50px;
  background-color: aqua;
  background-image: url("../images/bg-pattern-circles.svg"), linear-gradient(38deg, hsl(237, 17%, 21%),  hsl(237, 23%, 32%));
  background-size: 76%, 100%;
  background-position: -67% 80%, 0% 0%;
  background-repeat: no-repeat;
  border-radius: 0px 100px 0px 100px;

}

section.smartphone div.container{
  height: 400px;
  padding: 0px 130px;
  display: flex;
  align-items: center;
  gap: 100px;
} 

div.container div.phone img.i-pho{
  margin-top: 50px;
}

div.container div.text-phone{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

div.container div.text-phone h2{
  font-family: 'Overpass', sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  margin-bottom: 30px;
}

div.container div.text-phone p.p-phone{
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  color: hsl(0, 0%, 100%);
  margin-bottom: 30px;
}

section.sec-two{
  width: 100%;
  height:900px;
  margin: 100px 0px;
  display: flex;
  align-items: center;
  background-image: url("../images/illustration-laptop-desktop.svg");
  background-size: 73%, 100%;
  background-position: -85% 60%, 0% 0%;
  background-repeat: no-repeat;
}

section.sec-two div.title-two{
  display: flex;
  justify-content: flex-end;
  padding: 0px 0px 0px 130px;
}

section.sec-two div.content-two{
  display: flex;
  flex-direction: column;
  margin: 50px 0px 0px 60px;
  padding: 20px;
  width: 50%;
}

footer{
  width: 100%;
  height: 350px;
  background-color: hsl(240, 10%, 16%);
  border-radius: 0px 100px 0px 0px;
}

div.f-final{
  padding: 50px;
  margin-left: 110px;
  display: flex;
  align-items: center;
}

div.f-final ul.f-product{
  width: 100%;
  height: 30px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 200px;
}

ul.f-product li.footer-p{
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color:hsl(0, 0%, 100%);
}

ul.f-product li.footer-p ul.f-submenu{
  margin-top: 40px;
  line-height: 30px;
}

li.footer-p ul.f-submenu a.f-link{
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color:hsl(240, 2%, 79%);
  text-decoration: none;
}

li.footer-p ul.f-submenu a.f-link:hover{
  text-decoration: underline;
}
