@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

header{
  width: 100%;
  height: 600px;
  border-radius: 0 0 0 90px;
  background-image: url("images/bg-pattern-intro-desktop.svg"), linear-gradient(138deg, #ff8f70,  #ff3d54);
  background-size: 225%, 100%;
  background-position: 25% 53%, 0% 0%;
  background-repeat: no-repeat;
  display: flex;
}

nav.nav-principal{
  width: 100%;
  height: 200px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul#product{
  height: 30px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

li.li-p{
  display: block;
  width: 90px;
  padding: 5px;
}

ul a{
  text-decoration: none;
  padding-left: 10px;
}

ul img{
  padding-left: 5px;
}

ul li ul li{
  background-color: hsl(0, 0%, 100%);
 
}

.ul-product, .ul-company, .ul-connect{
  display: none ;
  margin-top: 10px;
  width: 120px;
  padding: 10px;
}
