@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600;700&family=Ubuntu:wght@400;500;700&display=swap');

body{
  max-width: 1440px;
}

header{
  width: 100%;
  height: 600px;
  border-radius: 0 0 0 90px;
  background-image: url("images/bg-pattern-intro-desktop.svg"), linear-gradient(138deg, #ff8f70,  #ff3d54);
  background-size: 220%, 100%;
  background-position: 26% 52%, 0% 0%;
  background-repeat: no-repeat;
  display: flex;
}

nav.nav-principal{
  width: 100%;
  height: 60px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 65px;
}

nav.nav-principal img.logo{
  margin-left: 160px ;
}

ul img{
  padding-left: 5px;
}

ul#product{
  height: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

li.li-p{
  display: block;
  width: 90px;
  padding: 5px;
}

.ul-product, .ul-company, .ul-connect{
  display: none ;
  margin-top: 10px;
  width: 120px;
  padding: 10px;
}

li.li-p a.bt1, a.bt2, a.bt3{
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color:  hsl(0, 0%, 100%); 
  text-decoration: none;
  padding-left: 10px;
}

li.li-p a.bt1:hover, a.bt2:hover, a.bt3:hover{
  text-decoration: underline;

}

li.li-p .ul-product, .ul-company, .ul-connect{
  display: none ;
  margin-top: 10px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: 0px 0px 80px 10px rgba(0, 0, 0, 0.162);
}

li.li-p .ul-product{
  height: 125px;
  width: 100px;
  padding: 15px 8px;
}

li.li-p .ul-company{
  height: 100px;
  width: 100px;
  padding: 15px 8px;
}

li.li-p .ul-connect{
  height: 75px;
  width: 100px;
  padding: 15px 8px;
}

li.li-p a.ul-link {
  font-family: 'Overpass', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #000000; 
  line-height: 25px;
  text-decoration: none;
  padding-left: 10px;
}

li.li-p a.ul-link:hover{
  font-weight: 700;
} 

nav.nav-principal div.button{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 220px;
}

div.button button.bt-login{
  border: none;
  background-color: transparent;
  margin-right: 30px;
}

div.button button.bt-sing{
  border: none;
  width: 140px;
  height: 50px;
  border-radius: 30px;
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color:  hsl(356, 100%, 66%);
}

div.button button.bt-sing:hover{
  background-color: hsl(355, 100%, 74%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

div.button button.bt-login{
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

section.modern{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 60px;
}

section.modern p.p-platform{
  font-family: 'Overpass', sans-serif;
  font-size: 50px;
  font-weight: 600;
  color:hsl(0, 0%, 100%);
}

section.modern p.p-brand{
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color:hsl(240, 2%, 79%);
}

section.modern div.sec-button{
 margin-top: 20px;
}

section.modern button.bt-start{
  border: none;
  width: 140px;
  height: 50px;
  margin: 15px;
  border-radius: 30px;
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color:  hsl(356, 100%, 66%);
}

section.modern button.bt-start:hover{
  background-color: hsl(355, 100%, 74%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

section.modern button.bt-more{
  border: none;
  width: 140px;
  height: 50px;
  border-radius: 30px;
  border: 2px solid hsl(0, 0%, 100%);
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  background-color: transparent;
}

section.modern button.bt-more:hover{
  background-color: hsl(0, 0%, 100%) ;
  color:hsl(355, 100%, 74%);
  cursor: pointer;
}

section.sec-one{
  width: 100%;
  height: 800px;
  display: flex;
  background-image: url("images/illustration-editor-desktop.svg");
  background-size: 50%, 100%;
  background-position: 127% 43%, 0% 0%;
  background-repeat: no-repeat;
}

section.sec-one div.content{
  margin-top: 150px;
  text-align: center;
}

div.content h1.h-main{
  font-family: 'Overpass', sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: hsl(208, 49%, 24%);
}

section.sec-one div.content-one{
  width: 50%;
  margin-top: 150px;
  display: flex;
  flex-direction: column;

}


